{% extends "base.html" %}
{% load static%}
{%block title%}Password Reset{%endblock%}

{%block content%}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<header class="main-header">
            <div class="header-left">
                <img src="{% static 'images/New Risk Logo.png' %}" alt="Logo" class="header-logo">
                <h1 class="header-title">Password Change Form</h1>
            </div>
        </header>
<form method ="post">
    {% csrf_token %}
    {{form.as_p}}
   <button type="submit">Send Link</button> 
<form>
{%endblock%} 