
html, body {
    height: 100%;
    min-height: 100%;
    overflow-y: auto;
    display: block;
    align-items: initial;
    justify-content: initial;
    background:#576ad8;
    margin: 0;
    padding: 0;
}

.page-container {
    width: 90%;
    max-width: 1100px;
    margin: 30px auto;
    padding: 20px;
}

.menu-bar {
    width: 100%;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    gap: 25px;
    background: #ffffff;
    border-radius: 10px;
    border: 1px solid #dcdcdc;     
    box-shadow: 0 2px 6px rgba(0,0,0,0.08); 
}

.menu-bar a {
    text-decoration: none;
    font-weight: 600;
    color: #222;
    transition: 0.2s;
}

.menu-bar a:hover {
    color: #576ad8; 
}

.assessment-grid {
    display: grid;
    grid-template-columns: 2fr 1.2fr; 
    gap: 50px;
    align-items: start;
}

.left-section label {
    display: block;
    font-size: 13px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 5px;
}

.left-section input {
    width: 100%;
    padding: 10px;
    border: 2px solid #cfcfcf;
    margin-bottom: 10px;
    font-size: 14px;
}

.dynamic-field {
    margin-bottom: 10px;
}

.dynamic-field label {
    font-size: 13px;
    font-weight: bold;
}

.dynamic-field input {
    width: 100%;
    padding: 8px;
    border: 2px solid #cfcfcf;
}

.right-section {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.info-box {
    border: 2px solid #bfbfbf;
    padding: 15px;
    background: #ffffff;
    width: 100%; 
    box-sizing: border-box; 
    margin-bottom: 20px; 
}
 
.info-box h3 {
    margin-bottom: 10px;
    font-size: 18px;
}

.info-box input {
    width: 100%; 
    padding: 12px 15px; 
    border: 2px solid #cfcfcf;
    background-color: #f8f8f8;
    font-size: 16px;
    border-radius: 4px; 
    box-sizing: border-box; 
}
 
.info-box input:focus {
    border-color: #001a70;
    outline: none;
    background-color: #ffffff;
} 

.pdf-btn {
    background-color: #001a70;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    width: 100%;
    margin-top: 30px;
}
 
.pdf-btn:hover {
    background-color: #002fb8;
}

input[type="text"],
select {
    width: 100%;           
    padding: 10px;         
    margin: 5px 0 15px 0;  
    border: 1px solid #ccc; 
    border-radius: 4px;   
    box-sizing: border-box; 
    font-size: 16px;     
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    flex-wrap: wrap;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header-logo {
    width: 60px;
    height: auto;
}

.header-title {
    font-size: 1.8rem;
    color: #1e2a38;
}
