body {
    background:#576ad8;
    display: block;
    min-height: 100%;
    margin: 0;
    padding: 0;
    overflow:auto;
}

.page-container {
   width: 90%;
    max-width: 1100px;
    margin: 30px auto;
    padding: 20px;
}

.menu-bar {
    width: 100%;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    gap: 25px;
    margin-bottom: 30px;
    background: #ffffff;
    border-radius: 10px;
    border: 1px solid #dcdcdc;     
    box-shadow: 0 2px 6px rgba(0,0,0,0.08); 
}

.menu-bar a {
    text-decoration: none;
    font-weight: 600;
    color: #222;
    transition: 0.2s;
}

.menu-bar a:hover {
    color: #576ad8; 
}

.guide-box {
    width: 100%;
    padding: 25px;
    border-radius: 6px;
    border: 2px solid #bfbfbf;
    background-color: white;  
    margin: 0 auto 40px auto;
    box-sizing: border-box;
}

.guide-box label {
    font-weight: bold;
    display: block;
    width: 100%;
    margin: 10px auto 5px auto;
    font-size: 15px;
}

.guide-box input {
    width: 95%;
    margin: 0 auto 20px auto;
    display: block;
    padding: 10px;
    border: 2px solid #cfcfcf;
    border-radius: 4px;
    font-size: 14px;
    background-color: white;
}

.large-textbox {
    width: 95%;  
    height: 180px;
    margin: 10px auto 25px auto;
    display: block;
    padding: 12px;
    border: 2px solid #cfcfcf;
    border-radius: 4px;
    background-color: white; 
    resize: vertical;
    font-size: 16px;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    flex-wrap: wrap;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header-logo {
    width: 60px;
    height: auto;
}

.header-title {
    font-size: 1.8rem;
    color: #1e2a38;
}